PORT=3001
DB_HOST=db
DB_PORT=5432
DB_NAME=taskbeam
DB_USER=taskbeam
DB_PASSWORD=your_password_here
COGNITO_USER_POOL_ID=your_user_pool_id
COGNITO_CONTRACTOR_CLIENT_ID=your_contractor_client_id
COGNITO_CLIENT_CLIENT_ID=your_client_client_id
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
S3_BUCKET=taskbeam-files-422020065874